services:
  prod-site:
    image: bayo124/my-devops-site:latest
    # container_name: prod-site  <-- REMOVE OR COMMENT THIS OUT
    restart: always
    deploy:
      replicas: 3
    labels:
      - "autoheal=true"
    networks:
      - caddy_net

  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    restart: always
    environment:
      - AUTOHEAL_CONTAINER_LABEL=autoheal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - caddy_net

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
    networks:
      - caddy_net
    depends_on:
      - prod-site

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - caddy_net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - caddy_net

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    networks:
      - caddy_net

networks:
  caddy_net:
    driver: bridge

volumes:
  caddy_data:
